[submodule "cesium"]
	path = cesium
	url = git://github.com/AnalyticalGraphicsInc/cesium.git
[submodule "external/cesium"]
	path = external/cesium
	url = git://github.com/AnalyticalGraphicsInc/cesium.git
